body {
    text-align: center;
    color: #e7e4b6;
    text-align: center;

    background-image: url("image1/전시.avif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 10px;
    font-size: 20px;
    color: #f994bb;
}

.project {
    border: 1px solid #a0a09c;
    padding: 10px;
}

iframe {
    width: 88%;
    height: 450px;
    border: none;
}

.description {
    font-size: 14px;
    color: #000000;
    margin-top: 6px;
}

.project img {
    width: 75px;
    height: auto;
}
